.page-company-contact .box-a h3 {
	font-size: 18px;
	padding-left: 72px;
	margin-bottom: 43px;
}
	
.page-company-contact .box-a h2 {
	font-size: 36px;
	color: #231F20;
	margin-bottom: 2px;
}
	
div.back-to-top {
	padding-top: 90px;
}